.dashboard {
	display: grid;
	grid-template-columns: 300px auto;
	height: 100vh;
}
.dashboard .sidebar {
	grid-row: 1/-1;
	background-size: cover;
	padding: 10px 20px;
}

.dashboard .right-sidebar {
	grid-row: 1/-1;
	display: grid;
	grid-template-rows: 60px auto 100px;
}
.dashboard .right-sidebar .header {
	grid-column: 1/-1;
}
.dashboard .right-sidebar .content {
	grid-column: 1/-1;
	margin-top: 7px;
}
.dashboard .right-sidebar .footer {
	grid-column: 1/-1;
}

.content {
	border-right: 1px solid #f3f4f6;
}
