* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard {
	display: grid;
	grid-template-columns: 250px auto;
	height: 100vh;
}
.dashboard .sidebar {
	grid-row: 1/-1;
	background-color: #4e73df;
	background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
	background-size: cover;
	padding: 10px 20px;
}

.dashboard .right-sidebar {
	grid-row: 1/-1;
	display: grid;
	grid-template-rows: 50px auto 100px;
}
.dashboard .right-sidebar .header {
	grid-column: 1/-1;
}
.dashboard .right-sidebar .content {
	grid-column: 1/-1;
}
.dashboard .right-sidebar .footer {
	grid-column: 1/-1;
}
