.header-info {
	height: 100%;
	padding: 0 35px;
	box-shadow: 3px 1px 7px 2px #d1d1c5 !important;
}
.header-info .search {
	width: 300px;
	position: relative;
	margin-right: 15px;
}
.header-info .search span {
	position: absolute;
	z-index: 9;
	font-size: 20px;
	top: 12px;
	left: 10px;
}
.header-info .search input {
	padding-left: 35px;
	font-family: 'Open Sans', sans-serif;
}

.header-info .search input:focus {
	box-shadow: unset;
	border: 2px solid #312e81 !important;
	border-radius: 5px;
}

.header-info .flag {
	margin-right: 15px;
}
.header-info .notification {
	margin-right: 15px;
}
.header-info .flag,
.header-info .notification,
.header-info .profile {
	font-size: 30px;
}
