.sidebar-content {
	margin-top: 20px;
	overflow: auto;
	overflow-x: hidden;
	max-height: calc(100vh - 129px);
}

.sidebar-header {
	padding: 10px 15px 20px;
}
.sidebar-header span {
	font-size: 30px;
	color: #312e81;
	border: 5px solid #312e81;
	border-radius: 50%;
	margin-right: 15px;
}

.sidebar-header h3 {
	font-size: 25px;
	color: #312e81;
	margin-bottom: 0;
	font-family: 'Shantell Sans', cursive;
	font-weight: 600;
}
.dashboard-content {
	padding: 15px 0;
	background-color: #312e81;
	border-radius: 2px solid #312e81;
}
.dashboard-content h5 {
	font-size: 15px;
	color: #fff;
	margin-bottom: 0;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
.dashboard-content span {
	font-size: 20px;
	color: #fff;
	margin-bottom: 0;
	margin-right: 5px;
	padding-left: 20px;
}
.sidebar-accordion {
	margin-top: 15px;
}
.sidebar-accordion button span {
	margin-right: 10px !important;
}
.sidebar-accordion .accordion-header-custom {
	color: #6b7280;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 15px;
	height: 40px;
}

.sidebar-accordion .accordion-item {
	background-color: unset;
}

.sidebar-accordion .accordion-body {
	padding: 10px;
}
.accordion-button:focus {
	z-index: 3;
	border-color: unset;
	outline: 0;
	box-shadow: unset;
}
.accordion-button:not(.collapsed) {
	background-color: unset;
}
.accordion-button {
	position: relative;
}
.accordion-button::after {
	position: absolute;
	top: 10px;
	right: 6px;
	content: '\e5cf' !important;
	font-family: Material Icons !important;
	transition: transform 0.2s ease-in-out;
	background-image: none;
	font-size: 20px;
}

.accordion-button:hover {
	background-color: #312e81;
	color: #fff;
	border-radius: 10px solid #312e81;
}
.sidebar-accordion .user-name,
.sidebar-accordion .blog,
.sidebar-accordion .category-name {
	margin-left: 25px !important;
	color: #1e293b;
	background-color: #f9fafb;
}
.sidebar-accordion .accordion-body {
	padding: 0;
}
.sidebar-accordion .accordion-body span {
	margin-right: 5px;
	font-size: 10px;
}
.sidebar-accordion .accordion-body .cat-item {
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding: 4px 0;
}
.sidebar-accordion .accordion-body p:hover {
	color: #fb923c;
}
